<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'My PRs' %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    </header>
    <content>
      <menu>
        <%= render '/application/menu' if user_signed_in? %>
      </menu>
      <main>
        <%= yield %>
      </main>
    </content>
    <footer>
    </footer>
  </body>
</html>
